@model Nepaltech.Models.Forms.ChickenFeedModel
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@*<h2>Edit</h2>*@

@Html.HiddenFor(model => model.Id)

<form action="@(Url.Action("Edit"))" method="post" class="nt-form" id="form-add-chickenfeeds">
    @Html.HiddenFor(model => model.BatchId)
    @Html.HiddenFor(model => model.LocationId)
    @*@Html.HiddenFor(model => model.FeedId)*@
    <div class="row">
        <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="batchid">BatchId</label> </div> </div>
        <div class="col-md-offset-0 col-md-6"> <div> @Html.DisplayFor(m => m.BatchCode, new { @name = "BatchChickenId" }) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="feed">Select Feed</label> </div> </div>
        <div class="col-md-offset-0 col-md-6">
            @(Html.Kendo().DropDownList()
              .Name("FeedId")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("Select Feeds...")
              .DataTextField("FeedName")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeBreedFeed", "ChickenFeeds", new { breeds = Model.BreedId });
                  });
              })
            )
            @Html.ValidationMessageFor(model => model.FeedId, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">@Html.LabelFor(model => model.MaleQuantity)</div>
        <div class="col-md-6">
            @Html.Kendo().NumericTextBoxFor(model => model.MaleQuantity).HtmlAttributes(new { @min="0" })
            @Html.ValidationMessageFor(model => model.MaleQuantity, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">@Html.LabelFor(model => model.FemaleQuantity)</div>
            <div class="col-md-6">
                @Html.Kendo().NumericTextBoxFor(model => model.FemaleQuantity).HtmlAttributes(new { @min = "0" })
                @Html.ValidationMessageFor(model => model.FemaleQuantity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-offset-0 col-md-3">
            <div> <label class="control-label" for="DateEntry">DateEntry</label> </div>
        </div>
        <div class="col-md-offset-0 col-md-6">
            @(Html.Kendo().DatePicker()
                .Name("DateEntry")
                .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
            )
        </div>
    </div>
     @Html.HiddenFor(model => model.DateCreated)

    <div class="row">
        <div class="col-md-5">
            <input type="submit" value="Save" class="btn btn-default" />
            @*@Html.ActionLink("Cancel", "Details", "AddChicken", new { @id = Model.BatchChickenId }, new { @class = "btn btn-primary" })*@
        </div>
    </div>


</form>
@*<script>
        function filterProducts() {
            return {
                //breeds: $("#breedId").html()
                breeds: "@Model.BreedId"
            };
        }
    </script>*@