@model Nepaltech.Entities.ChickenVaccine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChickenVaccine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchChicken.BatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchChicken.BatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vaccine.VaccineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaccine.VaccineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccinationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccinationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecommendedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecommendedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, batchChickenId = Model.BatchChickenId }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
</p>
