@using Nepaltech.Models.ApiModels
@model Nepaltech.Entities.Breed

@{
    ViewBag.Title = "_Details";
}

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Delete","Delete", new { id = Model.Id}, new { @class = "btn btn-danger"})
</p>


 <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">BreedVaccine</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">BreedFeed</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mortality</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">EggProduction</a></li>
        <li role="presentation"><a href="#breedWeight" aria-controls="breedWeight" role="tab" data-toggle="tab">Breed Weight</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div>
                <a href="@(Url.Action("Create","BreedVaccine", new { id = Model.Id }))" class="btn btn-primary" id="btn-add-breedvaccine">Add BreedVaccine</a>
            </div>
            @{
                Html.RenderPartial("~/Views/BreedVaccine/Index.cshtml", new Nepaltech.Models.Forms.BreedVaccineModel());
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div>
                <a href="@(Url.Action("Create","BreedFeed", new { id = Model.Id }))" class="btn btn-primary" id="btn-add-breedfeeds">Add BreedFeed</a>
            </div>
            @{

                Html.RenderPartial("~/Views/BreedFeed/Index.cshtml", new Nepaltech.Models.Forms.BreedFeedModel());
            }
        </div>

        <div role="tabpanel" class="tab-pane" id="messages">
           
            <div>

                <a href="@(Url.Action("Create","BreedMortality", new { id = Model.Id }))" class="btn btn-primary" id="btn-add-BreedMortality">Add BredMortality</a>
            </div>
            @{
                Html.RenderPartial("~/Views/BreedMortality/Index.cshtml", new Nepaltech.Models.Forms.BreedMortalityModel());
            }
            </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <div>

                <a href="@(Url.Action("Create","BreedEggProduction", new { id = Model.Id }))" class="btn btn-primary"id="btn-add-breedeggproduction">Add EggPruduction</a>
            </div>
            @{ 
                Html.RenderPartial("~/Views/BreedEggProduction/Index.cshtml", new Nepaltech.Models.Forms.BreedEggModel());
            }
        </div>

        <div role="tabpanel" class="tab-pane" id="breedWeight">
            <div>

                <a href="@(Url.Action("Create","BreedWeight", new { id = Model.Id }))" class="btn btn-primary" id="btn-add-breedweight">Add Breed Weight</a>
            </div>
            @{
                Html.RenderPartial("~/Views/BreedWeight/Index.cshtml", new Nepaltech.Models.Forms.BreedWeightModel());
            }
        </div>
    </div>
     </div>
