@model Nepaltech.Models.Forms.VaccineModel

@{
    ViewBag.Title = "Edit";
}



<form action="@(Url.Action("Edit"))" method="post" class="nt-form" id="form-add-vaccine">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-3"> @Html.LabelFor(model => model.VaccineName) </div>
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.VaccineName)
                @Html.ValidationMessageFor(model => model.VaccineName, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.DateCreated)

        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
   </form>

