@model Nepaltech.Models.Forms.CountryModel

@{
    ViewBag.Title = "_Edit";
}

@*<h2>_Edit</h2>*@

<form action="@(Url.Action("Edit"))" method="post" class="nt-form" id="form-add-country">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CountryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.DateCreated)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
