@model Nepaltech.Models.Forms.BreedEggModel
<form action="@(Url.Action("Edit"))" method="post" class="nt-form" id="form-add-breedeggproduction">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.BreedId)
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="BreedID">Breed Name</label> </div> </div>
            <div class="col-md-offset-0 col-md-3">@Html.DisplayFor(m => m.Breed)</div>

        </div>
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> @Html.LabelFor(m=>m.BreedTypeId, "Breed Type")</div> </div>
            <div class="col-md-offset-0 col-md-3">
                <div>

                    @(Html.Kendo().DropDownList()
              .Name("BreedTypeId")
              .HtmlAttributes(new { style = "width:150%" })
              .OptionLabel("Select BreedType...")
              .DataTextField("BreedTypeName")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeBreedType", "BreedEggProduction", new { breeds = Model.BreedId });
                  });
              })
                    )
                </div>
                @Html.ValidationMessageFor(model => model.BreedTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-3"> @Html.LabelFor(model => model.TotalEggs)</div>
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m=>m.TotalEggs)
                @Html.ValidationMessageFor(model => model.TotalEggs, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            @Html.LabelFor(model => model.HatchingEggs, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m=>m.HatchingEggs)
                @Html.ValidationMessageFor(model => model.HatchingEggs, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            @Html.LabelFor(model => model.AgeinWeeks, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m=>m.AgeinWeeks)
                @Html.ValidationMessageFor(model => model.AgeinWeeks, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DateCreated)
    </div>
 </form>
