@model Nepaltech.Models.Forms.ChickenMortalityModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DateCreated)


@*<form class="nt-form" action="/AddChicken/Details/@Model.BatchChickenId" method="post">*@
<form class="nt-form" action="" method="post">

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="batchid">BatchId</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BatchChickenId, new { @name = "BatchChickenId" }) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="farmName">Farm Name</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.FarmName) </div> </div>

        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="location">Location</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Location) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breed">breed</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div>@Html.DisplayFor(m => m.Breed)</div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="vaccine">AgeinWeeks</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <input class="form-control" type="number"name="AgeinWeeks">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="age">DeadChickenMale</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="DeadChickenMale"> </div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="DeadChickenFemale">DeadChickenFemale</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="DeadChickenFemale"> </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="DateEntry">DateEntry</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10" name="DateEntry">
                @(Html.Kendo().DatePicker()
                  .Name("DateEntry")
                  .Value("10/10/2017")
                  .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
            </div>
        </div>
    </div>

    <div>
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Index", "AddChicken", new { @class = "btn btn-primary" })
        @*@Html.ActionLink("Cancel", "Details", "AddChicken", new { @id = Model.BatchChickenId }, new { @class = "btn btn-primary" })*@
    </div>
</form>
<script>
    function filterProducts() {
        return {
            //breeds: $("#breedId").html()
            breeds: "@Model.BreedId"
        };
    }
</script>
