@model Nepaltech.Models.Forms.BatchChickenMortalityModel

@{
    ViewBag.Title = "Create";
  
}
@*<form action="@(Url.Action("Create"))"method="post" class="nt-form" id="form-add-chickenmortality">*@

<form action="@(Url.Action("Create"))" method="post" class="nt-form" id="form-add-chickenmortality">
    @Html.HiddenFor(model=>model.BatchId)
    @Html.HiddenFor(model => model.BreedId)
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="batchcode">Batch Code</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BatchCode) </div> </div>

        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="DateEntry">DateEntry</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10" name="DateEntry">
                @(Html.Kendo().DatePicker()
                          .Name("DateEntry")
                          .Value(DateTime.Now)
                          .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breed">Breed</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Breed) </div> </div>

        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breedtype">BreedType</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BreedType) </div> </div>
    </div>

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="age">Age</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Age) days</div> </div>
    </div>
    <table class="table">
        <tr>
            <th>Room No </th>
            <th>MortalityPercentage </th>
            <th>DeadChickenMale</th>
            <th>DeadChickenFemale</th>
        </tr>

        @for (int i = 0; i < Model.Chickenmortality.Count; i++)
            {
            <tr>
                <td>@(Model.Chickenmortality[i].Location) @Html.HiddenFor(model => model.Chickenmortality[i].LocationId)</td>
          
                <td>
                    @Html.Kendo().NumericTextBoxFor(m => m.Chickenmortality[i].MortalityPercentage).HtmlAttributes(new { @min = "0" })
                    @Html.ValidationMessageFor(m => m.Chickenmortality[i].MortalityPercentage, "", new { @class = "text-danger" })
                 
                </td>
            
                <td>
                    @Html.Kendo().IntegerTextBoxFor(m => m.Chickenmortality[i].DeadChickenMale).HtmlAttributes(new { @min = "0" })
                    @Html.ValidationMessageFor(m => m.Chickenmortality[i].DeadChickenMale, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.Kendo().IntegerTextBoxFor(m => m.Chickenmortality[i].DeadChickenFemale).HtmlAttributes(new { @min = "0" })
                    @Html.ValidationMessageFor(m => m.Chickenmortality[i].DeadChickenFemale, "", new { @class = "text-danger" })
                </td>

            </tr>
        }

    </table>
    <div>
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Details", "Batch", new { id = Model.BatchId }, new { @class = "btn btn-primary" })
        @*@Html.ActionLink("Cancel", "Details", "AddChicken", new { @id = Model.BatchChickenId }, new { @class = "btn btn-primary" })*@
    </div>
</form>
@*<div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="batchid">BatchId</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BatchChickenId, new { @name = "BatchChickenId" }) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="farmName">Farm Name</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.FarmName) </div> </div>

        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="location">Location</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Location) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breed">breed</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div>@Html.DisplayFor(m => m.Breed)</div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="vaccine">AgeinWeeks</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <input class="form-control" type="number" name="AgeinWeeks">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="age">DeadChickenMale</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="DeadChickenMale"> </div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="DeadChickenFemale">DeadChickenFemale</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10"> <input class="form-control" type="number" name="DeadChickenFemale"> </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="DateEntry">DateEntry</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10" name="DateEntry">
                @(Html.Kendo().DatePicker()
                  .Name("DateEntry")
                  .Value("10/10/2017")
                  .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
            </div>
        </div>
    </div>*@

@*<script>
        function filterProducts() {
            return {
                //breeds: $("#breedId").html()
                breeds: "@Model.BreedId"
            };
        }
    </script>*@
