@model Nepaltech.Models.Forms.ChickenEggProductionModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@*@Html.HiddenFor(model => model.Id)*@
@Html.HiddenFor(model => model.DateCreated)
@Html.HiddenFor(model => model.Id)
<form class="nt-form" action="" method="post">

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="batchid">BatchId</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BatchChickenId, new { @name = "BatchChickenId" }) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="farmName">Farm Name</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.FarmName) </div> </div>

        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="location">Location</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Location) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breed">breed</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div>@Html.DisplayFor(m => m.Breed)</div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="vaccine">AgeinWeeks</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <input class="form-control" type="number" name="AgeinWeeks">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="age">TotalEggs</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="TotalEggs"> </div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="GoodEggs">GoodEggs</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10"> <input class="form-control" type="number" name="GoodEggs"> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="SpoiltEggs">SpoiltEggs</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="SpoiltEggs"> </div> </div>
        <div>
            </div>
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Index", "AddChicken", new { @class = "btn btn-primary" })

        </div>
</form>
<script>
    function filterProducts() {
        return {
        breeds: "@Model.BreedId"
        };
    }
</script>
