@model Nepaltech.Models.Forms.BatchChickenEggProductionModel
@{
    ViewBag.Title = "Create";
    //Layout = null;
}

<form action="@(Url.Action("Create"))" method="post" class="nt-form" id="form-add-ChickenEggproduction">
    @Html.HiddenFor(model => model.BatchId)  
    @Html.HiddenFor(model => model.BreedId)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="batchcode">Batch Code</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BatchCode) </div> </div>
       
                <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="DateEntry">DateEntry</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10" name="DateEntry">
                @(Html.Kendo().DatePicker()
                          .Name("DateEntry")
                          .Value(DateTime.Now)
                          .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breed">Breed</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Breed) </div> </div>

        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breedtype">BreedType</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BreedType) </div> </div>
    </div>

    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="age">Age</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Age) days</div> </div>
    </div>
    <table class="table">
        <tr>
            <th>Room No </th>
            <th>GoodEggs </th>
            <th>SpoiltEggs</th>
            <th>TotalEggs</th>
        </tr>

        @for (int i = 0; i < Model.Chickeneggproduction.Count; i++)
            {
            <tr>
                <td>@(Model.Chickeneggproduction[i].Location) @Html.HiddenFor(model => model.Chickeneggproduction[i].LocationId)</td>
                <td>
                    @Html.Kendo().IntegerTextBoxFor(m => m.Chickeneggproduction[i].GoodEggs)
                    @Html.ValidationMessageFor(model => model.Chickeneggproduction[i].GoodEggs, "", new { @class = "text-danger" })
                              </td>
            
             
               <td>
                    @Html.Kendo().IntegerTextBoxFor(m => m.Chickeneggproduction[i].SpoiltEggs)
                   @Html.ValidationMessageFor(model => model.Chickeneggproduction[i].SpoiltEggs, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.Kendo().IntegerTextBoxFor(m => m.Chickeneggproduction[i].TotalEggs)
                    @Html.ValidationMessageFor(model => model.Chickeneggproduction[i].TotalEggs, "", new { @class = "text-danger" })
                </td>

            </tr>
        }

    </table>
    <div>
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Details", "Batch", new { id = Model.BatchId }, new { @class = "btn btn-primary" })
     
    </div>
</form>
@*<form action="@(Url.Action("Create"))" method="post" class="nt-form" id="form-add-chickeneggproduction">*@

    @*@Html.HiddenFor(model => model.DateCreated)
    @Html.HiddenFor(model => model.Id)
 
<form class="nt-form" action="/AddChicken/Details/@Model.BatchChickenId" method="post">
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="batchid">BatchId</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.BatchChickenId, new { @name = "BatchChickenId" }) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="farmName">Farm Name</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.FarmName) </div> </div>

        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="location">Location</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div> @Html.DisplayFor(m => m.Location) </div> </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="breed">breed</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div>@Html.DisplayFor(m => m.Breed)</div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="vaccine">AgeinWeeks</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <input class="form-control" type="number" name="AgeinWeeks">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="age">TotalEggs</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="TotalEggs"> </div> </div>
        <div class="col-md-offset-1 col-md-2"> <div> <label class="control-label" for="GoodEggs">GoodEggs</label> </div> </div>
        <div class="col-md-offset-0 col-md-3">
            <div class="col-10"> <input class="form-control" type="number" name="GoodEggs"> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-0 col-md-2"> <div> <label class="control-label" for="SpoiltEggs">SpoiltEggs</label> </div> </div>
        <div class="col-md-offset-0 col-md-3"> <div class="col-10"> <input class="form-control" type="number" name="SpoiltEggs"> </div> </div>
        <div>
        </div>
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Index", "AddChicken", new { @class = "btn btn-primary" })

    </div>
</form>*@
    @*<script>
        function filterProducts() {
            return {
                breeds: "@Model.BreedId"
            };
        }
    </script>*@
