@model Nepaltech.Models.Forms.ChickenEggProductionModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@Html.HiddenFor(model => model.Id)
@*<form class="nt-form" action="/AddChicken/Details/@Model.BatchChickenId" method="post">*@
    <form action="@(Url.Action("Edit"))" method="post" class="nt-form" id="form-add-ChickenEggproduction">
        @Html.AntiForgeryToken()
     
        @Html.HiddenFor(model => model.BatchId)
        @Html.HiddenFor(model => model.LocationId)
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="batchid">BatchId</label> </div> </div>
            <div class="col-md-offset-0 col-md-6"> <div> @Html.DisplayFor(m => m.BatchCode, new { @name = "BatchChickenId" }) </div> </div>
        </div>
            
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="GoodEggs">GoodEggs</label> </div> </div>
            <div class="col-md-offset-0 col-md-6">
                <div>
                    @Html.Kendo().IntegerTextBoxFor(m=>m.GoodEggs).HtmlAttributes(new { @min="0" })
                    @Html.ValidationMessageFor(model => model.GoodEggs, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="SpoiltEggs">SpoiltEggs</label> </div> </div>
            <div class="col-md-offset-0 col-md-6">
                <div>
                    @Html.Kendo().IntegerTextBoxFor(m => m.SpoiltEggs).HtmlAttributes(new { @min = "0" })
                    @Html.ValidationMessageFor(model => model.SpoiltEggs, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="TotalEggs">TotalEggs</label> </div> </div>
            <div class="col-md-offset-0 col-md-6">
                <div>
                    @Html.Kendo().IntegerTextBoxFor(m => m.TotalEggs).HtmlAttributes(new { @min = "0" })
                    @Html.ValidationMessageFor(model => model.TotalEggs, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-0 col-md-3"> <div> <label class="control-label" for="DateEntry">DateEntry</label> </div> </div>
            <div class="col-md-offset-0 col-md-6">
                <div class="col-10" name="DateEntry">
                    @(Html.Kendo().DatePicker()
                  .Name("DateEntry")
                  .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                    )
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.DateCreated)
        <div>
            <input type="submit" value="Save" class="btn btn-default" />
            @*@Html.ActionLink("Cancel", "Index", "AddChicken", new { @class = "btn btn-primary" })*@
        </div>
    </form>
    @*<script>
    function filterProducts() {
        return {
            //breeds: $("#breedId").html()
            breeds: "@Model.BreedId"
        };
    }
    </script>*@
