@model Nepaltech.Models.Forms.CountryModel

@{
    ViewBag.Title = "_AddCountry";
}


<form action="@(Url.Action("Create"))" method="post" class="nt-form" id="form-add-country">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-3"> @Html.LabelFor(model => model.CountryName) </div>
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.CountryName)
                @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
